.color-xmask{
    color: red !important;
}
.color-tick{
    color: greenyellow !important;
}
.color-trash{
    color: red !important;
}
.color-edit{
    color: yellow !important;
}
.txt-area {
    width: 100%;
}